* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
	background-size:     auto;
    background-repeat:   no-repeat;
	background-position: center center;
}

.foreground {
	margin: 0 auto;
	width: 66%;
	background-color: rgb(34, 34, 34);
    color: #F0F0F0;
	height: 500px;
}

#question {
	font-size: 5em;
}

.foreforeground {
	margin: auto;
	background-color: rgb(33, 33, 33);
	box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.12), 1px 2px 2px 1px rgba(0,0,0,0.24);
	height: 100%;
	width: 74%;
	text-align: center;
}

#answerBar {
	height: 38px;
	width: 470px;
	background-color: #1F2326;
	border: 3px solid #008000;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
}

#count {
	font-size: 78%;
}

.options-container {
	text-align: left;
	font-size: 1em;
}