* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
	background-size:     auto;
    background-repeat:   no-repeat;
	background-position: center center;
}

.foreground {
	margin: 0 auto;
	width: 66%;
	background-color: #1F2326;
    color: #F0F0F0;
	height: 500px;
}

#question {
	font-size: 5em;
}

.foreforeground {
	margin: auto;
	background-color: rgb(51, 3, 3);
	height: 100%;
	width: 74%;
	text-align: center;
}

#answerBar {
	height: 38px;
	width: 470px;
	background-color: #1F2326;
	border: 3px solid #008000;
	color: #ffffff;
	text-align: center;
	font-size: 14px;
}

#count {
	font-size: 78%;
}

.options-container {
	text-align: left;
	font-size: 1em;
}