* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
	background-size:     auto;
    background-repeat:   no-repeat;
	background-position: center center;
}

.foreground {
	margin: 0 auto;
	width: 66%;
	background-color: #1F2326;
    color: #F0F0F0;
	height: 500px;
	font-size: 25px;
}